@page
@model Zapisywarka.API.Modules.Identity.Pages.IndexModel
@{
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="_content/Zapisywarka.API.Modules.Identity/css/sign-up-styles.css" />
    <script src="_content/Zapisywarka.API.Modules.Identity/js/sign-up-element.js"></script>
</head>
<body>
    <main class="container">
        <app-sign-up></app-sign-up>
    </main>
</body>
</html>
}
