events {}

http {
  include /etc/nginx/mime.types;

  upstream api {
      server web-api:80;
    }

  server {
    listen 80;
    listen [::]:80;

    server_name localhost zapisywarka.pl *.zapisywarka.pl;
    

    location / {
      root /usr/zapisywarka/in-progress-page;
      index index.html index.htm;
      try_files $uri $uri/ /index.html =404;
    }

    location /test {
      alias /usr/zapisywarka/back-office;
      index index.html index.htm;
      try_files $uri $uri/ /index.html;
    }

    location /api {
      proxy_pass http://api;
      include   /etc/nginx/proxy.conf;

    }

  }

}

