<h6>Pozycje oferty</h6>
<p>Wybierz pozycje z katalogu</p>

<table class="table" [formGroup]="offerItemsForm">
    <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Kategoria</th>
            <th>Cena(zł)</th>
            <th>Dostępna ilość</th>
            <th style="width:5%">#</th>
        </tr>
    </thead>
    <tbody formArrayName="offerItems">
        <tr *ngFor="let item of offerItems.controls; index as i">
            <ng-container [formGroup]="item">
                <td><strong>{{i+1}}</strong></td>
                <td>{{getName(i)}}</td>
                <td class="text-secondary">{{getCategory(i)}}</td>
                <td><input type="number" nbInput class="numeric" formControlName="price"></td>
                <td><input type="number" nbInput class="numeric" formControlName="avaibleQuantity"></td>
                <td><nb-icon icon="trash-outline" (click)="onRemove(i)"></nb-icon></td>
            </ng-container>            
        </tr>
    </tbody>
</table>

<p>Ilość typów pozycji: <strong>2</strong></p>
<p>Całkowita ilość pozycji: <strong>{{offerItemsLength}}</strong></p>
<button (click)="submit()">submit</button>
