.subtitle {
   
    margin-bottom: 2.5rem;
    color: nb-theme(text-hint-color);
}

.collection-date {
    label {
        margin-right: 0.5em;
    }
}

.stepper-buttons {
    margin-top: 2em;
    text-align: center;
    
    button {
        margin-right: 2em;
    }
}
