@import "../../../../../libs/shared/material/src/theme-variables";

:host {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.title {
    color: mat-color($dark-blue-green-primary, 600);
  
}

mat-card {
    min-width: 400px;
}

mat-card-title {
    margin-bottom: 2em;
}

mat-card-content {
    padding: 1em;
    overflow: hidden;
}


  mat-card {
    width: 400px;
    height: 500px;
  }
  
  .full-width-field {
      width: 100%;      
  }

  button {
      margin-top: 2em;
  }