@import "../../../../../libs/shared/material/src/theme-variables";

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
  }
  
  .full-width-field {
    width: 100%;      
}

button {
  margin-top: 2em;
}

.form-error {
  color: mat-color($dark-blue-green-warn);
  font-size: 0.75em;
}