<form class="form-container" [formGroup]="userDataControl" (ngSubmit)="onSubmit()">
    <mat-form-field  appearance="outline" class="full-width-field" data-test=user-name>
        <mat-label>Nazwa użytkownika</mat-label>
        <input matInput formControlName="userName"/>
        <mat-error data-test=validation-error>{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>
      <mat-form-field  appearance="outline" class="full-width-field" data-test=password>
        <mat-label>Hasło</mat-label>
        <input type="password" matInput formControlName="password"/>
        <mat-error data-test=validation-error>{{getErrorMessage('password')}}</mat-error>
      </mat-form-field>
      <mat-form-field  appearance="outline" class="full-width-field" data-test=password-confirmation>
        <mat-label>Potwierdź hasło</mat-label>
        <input type="password" matInput />
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" class="full-width-field" data-test=sign-up-button>
      Dalej
    </button>
  </form>
